$black: #2a2a2a;
$light-grey: #9B9B9B;
$bright-blue: #36E7BF;

.container{
	font-family: "Karla";
	color: $black;
}

a{
	color: $light-grey;
	text-decoration: none;

	&:hover{
		color: $bright-blue;
	}
}

.old-link{
	position: absolute;
	top:20px;
	right: 20px;
}


.bold{
	font-weight: 800;
}

.introduction{
	font-size: 1.3em;
	height: 100vh;

	.content{
		max-width: 680px;
		height: 550px;
		margin-left: 10%;
		margin-right: 10%;
		margin-top: 11%;
		/*border: 1px solid #000;*/

		h1{
			font-size: 3.75em;
			margin-bottom: -16.5px;
			margin-top: 0;
		}

		p{
			line-height: 1.5;
			width: 590px;
		}

		.line{		
			margin-top: 20px;
			font-size: 1em;
			line-height: 1.4;


			h2{
				font-size: 1em;
				font-weight: 600;
				margin-bottom: -1px;
			}
		}

		.links{
			font-size: .75em;
			margin-top: 60px;

			hr{
				width: 90px;
				margin: 0;
				border-style: solid;
				border-color: $bright-blue;
				border-width: 2px;
				margin-bottom: 20px;
			}

			a{
				padding-right: 20px;
			
			}

			.icons{
				height: 14px;
				margin-right: 3px;

			}

			h2{
				font-size: 14px;
				font-weight: 400;
				margin-bottom: 5px;
				margin-top: 20px;
			}
		}
	}
}

.work{
	
	.section{
		margin-top: 20px;
		height: 600px;
		width: 100%;
		display: inline block;


		.content{
			width: calc(100% - 810px);
			margin-left: 30px;

			.project-number{
				font-size: .9em;
			}

			h1{
				font-size: 2.7em;
				margin-bottom: 10px;
				margin-top: -2px;
			}

			.specs {
				width: 28%;
				border-left: 1px solid #999; /*1px solid #999; or 2px solid rgba(243, 156, 18, 0.5) ?*/
				display: inline-block;
				padding-left: 10px;
				font-size: .9em;
				vertical-align: top;
				margin-bottom: 50px;
			
				&> .keyword {
					text-transform: uppercase;
					color: $light-grey;
					font-size: .8em;
					display: block;
					padding-bottom: 5px;
					font-weight: bold;
				}
			
				&> a {
				display: inline-block;
	
				}
			}

			p{
				font-size: 1.2em;
				line-height: 1.5;
				padding-bottom: 6px;
			}

			.more{
			font-size: 1.4em;

				img{
					height: 10px;
					padding-right: 5px;
				}
			}

		}
	}
}