$black: #2a2a2a;
$light-grey: #9B9B9B;
$bright-blue: #36E7BF;

.container{
	font-family: "Karla";
	color: $black;
}

a{
	color: $light-grey;
	text-decoration: none;

	&:hover{
		color: $bright-blue;
	}
}

.bold{
	font-weight: 800;
}

.introduction{
	font-size: 1.3em;
	height: 100vh;

	.content{
		max-width: 680px;
		height: 550px;
		margin-left: 12%;
		margin-right: 10%;
		margin-top: 12%;
		/*border: 1px solid #000;*/

		h1{
			font-size: 3.75em;
			margin-bottom: -16.5px;
			margin-top: 0;
		}

		p{
			line-height: 1.5;
			width: 590px;
		}

		.line{		
			margin-top: 30px;
			font-size: 1em;
			line-height: 1.4;


			h2{
				font-size: 1em;
				font-weight: 600;
				margin-bottom: -1px;
			}
		}

		.links{
			font-size: .75em;
			margin-top: 60px;

			hr{
				width: 90px;
				margin: 0;
				border-style: solid;
				border-color: $bright-blue;
				border-width: 2px;
				margin-bottom: 20px;
			}

			a{
				padding-right: 20px;
			
			}

			.icons{
				height: 14px;
				margin-right: 3px;

			}

			h2{
				font-size: 14px;
				font-weight: 400;
				margin-bottom: 5px;
				margin-top: 20px;
			}
		}
	}
}

.work{
	
	.section{
		height: 700px;
		width: 100%;
		display: inline block;

		.content{
			width: calc(100% - 700px);
			margin-left: 50px;
		}

		.slider{
			display: inline block;
		}
	}
}